

.dataTables_wrapper table.dataTable thead th {
    padding: 12px 30px 10px 20px;
    white-space: nowrap;
    border-top: none;
}

.without-pagination .dataTables_wrapper .dataTables_info {
    padding-top: 0 !important;
}

.dataTables_scroll:before,
.dataTables_scroll:after {
    content: '';
    display: table;
    clear: both;
}

.dataTables_scrollBody {
    margin-bottom: 20px !important;
}

.dataTables_empty {
    text-align: center;
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper div.dataTables_length select {
    border: 2px solid;
    border-color: #bec3c6;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #30373F;
    display: inline-block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dataTables_wrapper div.dataTables_length label {
    margin-bottom: 15px;
}

.panel > .table-responsive > .dataTables_wrapper div.dataTables_length label,
.panel > .dataTables_wrapper div.dataTables_length label {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dataTables_length,
div.dataTables_info {
    float: left;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 15px;
}

.dataTables_wrapper div.dataTables_filter label {
    margin-bottom: 15px;
}

.panel > .table-responsive > .dataTables_wrapper div.dataTables_filter label,
.panel > .dataTables_wrapper div.dataTables_filter label {
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.panel-body div.dataTables_length label {
    margin: 0 0 20px;
}

.panel-body div.dataTables_filter label {
    margin: 0 0 20px;
}

.dataTables_filter input:focus,
div.dataTables_length select:focus {
    border-color: #8d9aa5;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.dataTables_wrapper table.dataTable {
    margin-top: 0 !important;
    margin-bottom: 20px !important;
}

.dataTables_wrapper:before,
.dataTables_wrapper:after {
    content: '';
    display: table;
    clear: both;
}

.panel .dataTables_wrapper {
    margin-bottom: 20px;
}

.panel div.dataTables_paginate {
    margin-right: 20px !important;
    margin-bottom: -5px;
}

.panel div.dataTables_info {
    margin-left: 20px;
}





table.DTFC_Cloned tr.even {
    background: none !important;
}

div.dataTables_scrollHead .table,
.DTFC_LeftWrapper div.DTFC_LeftHeadWrapper table,
.DTFC_RightWrapper div.DTFC_RightHeadWrapper table {
    margin-bottom: 0 !important;
}

.dataTables_scrollBody .table thead > tr > th,
.DTFC_LeftBodyLiner .table thead > tr > th {
    border-bottom: none !important;
}

.DTFC_LeftWrapper table.table-bordered.dataTable th:last-child {
    border-right-width: 1px !important;
}

.dataTables_scrollBody,
.DTFC_LeftBodyLiner {
    border-bottom: 2px solid #ebeced;
}

.dataTables_wrapper .dataTables_scrollBody table.dataTable,
.dataTables_wrapper .DTFC_LeftBodyLiner table.dataTable,
.dataTables_scroll + .dataTables_info {
    margin-bottom: 0 !important;
}

.dataTables_wrapper .dataTables_scrollBody table.dataTable > tbody > tr > td,
.dataTables_wrapper .DTFC_LeftWrapper table.dataTable > tbody > tr > td {
    border-bottom: none !important;
}




.FixedHeader_Cloned table.dataTable thead th,
.FixedHeader_Cloned table.dataTable thead td {
    padding: 12px 20px 10px;
}




table.KeyTable th.focus,
table.KeyTable td.focus {
    outline: 2px dashed #aab3ba !important;
    outline-offset: -2px !important;
}




table.dataTable.dtr-inline.collapsed tbody td:first-child,
table.dataTable.dtr-inline.collapsed tbody th:first-child {
    padding-left: 50px !important;
}

table.dataTable.dtr-inline.collapsed tbody td:first-child:before,
table.dataTable.dtr-inline.collapsed tbody th:first-child:before {
    left: 13px !important;
    height: 18px !important;
    width: 18px !important;
    line-height: 16px !important;
    font-size: 16px !important;
    border: 2px solid #aab3ba !important;
    background: #fff !important;
    color: #aab3ba !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.table-responsive .dataTables_wrapper > .row {
    margin: 0;
}

.table-responsive .dataTables_wrapper > .row > [class*="col-"] {
    padding: 0;
}



.dt-buttons.btn-group {
    margin-top: 15px;
    float: left;
    margin-left: 20px;
}




table.dt-rowReorder-float {
    outline: 2px dashed #bec3c6 !important;
    outline-offset: -3px !important;
    background: #fff !important;
    opacity: 0.95 !important;
}

tr.dt-rowReorder-moving {
    outline: 2px dashed #bec3c6 !important;
    outline-offset: -3px !important;
}




table.dataTable th.focus,
table.dataTable td.focus {
    position: relative;
    z-index: 1000;
    outline: 3px solid #3C454D !important;
}


 

div.dt-autofill-background {
    z-index: 1040 !important;
}

div.dt-autofill-list {
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    z-index: 1050 !important;
}




div.DTS div.dataTables_scrollBody {
    background: #fff !important;
}




table.dataTable tbody tr.selected,
table.dataTable tbody th.selected,
table.dataTable tbody td.selected,
table.dataTable tbody tr.selected a,
table.dataTable tbody th.selected a,
table.dataTable tbody td.selected a {
    color: initial !important;
}

table.dataTable tbody > tr.selected,
table.dataTable tbody > tr > .selected {
    background: #ffc !important;
}




.mapTooltip {
    position: fixed;
    background: url(../img/transparent/black-0.8.png);
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    padding: 6px 10px;
    z-index: 1000;
    max-width: 200px;
    display: none;
    color: #fff;
}

.zoomIn, .zoomOut {
    background-color: #3C454D;
    -webkit-box-shadow: 0 1px #24292e;
    box-shadow: 0 1px #24292e;
    color: #fff;
    padding: 3px 10px;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 30px;
    text-align: center;
    -webkit-user-select: none; // For Webkit
    -khtml-user-select: none;
    -moz-user-select: none; // For Mozilla
    -o-user-select: none;
    user-select: none; // Default
}

.zoomIn:hover,
.zoomIn:focus,
.zoomOut:hover,
.zoomOut:focus {
    background: #30373e;
    outline: none;
    -webkit-box-shadow: 0 1px #181c1f;
    box-shadow: 0 1px #181c1f;
}

.zoomOut {
    top: 45px;
}

.map {
    position: relative;
}



.legend > div {
    padding: 4px !important;
    border-radius: 4px !important;
    background: #ebeced !important;
}

.legend .legendColorBox {
    padding: 6px 0 6px 6px !important;
}

.legend .legendColorBox > div {
    border: none !important;
}

.legend .legendColorBox > div > div {
    border-radius: 40px !important;
}

.legend .legendLabel {
    padding: 3px 6px 3px 3px !important;
    color: #30373e !important;
    font-size: 11px !important;
}

.legend table > tbody > tr + tr > td.legendColorBox,
.legend table > tbody > tr + tr > td.legendLabel {
    padding-top: 0px !important;
}

.flot-tooltip {
    position: absolute;
    display: none;
    border: 0;
    padding: 6px 10px 7px;
    color: #fff;
    font-size: 11px;
    background: url(../img/transparent/black-0.8.png);
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    opacity: 1.0;
    filter: alpha(opacity=100);
    z-index: 10000 !important;
}


.slimScrollBar {
    width: 5px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}




.input-group.bootstrap-timepicker .bootstrap-timepicker-widget + .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bootstrap-timepicker-widget.dropdown-menu .form-control {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.bootstrap-timepicker-widget.dropdown-menu {
    width: 200px;
}

.bootstrap-timepicker-widget.dropdown-menu:before {
    border: none !important;
}

.bootstrap-timepicker-widget table td a:hover,
.bootstrap-timepicker-widget table td a:focus {
    background: #ebeced !important;
    border-color: #ebeced !important;
}

.select2-container .select2-selection--single {
    height: 34px !important;
    padding: 6px 12px !important;
    border: 2px solid #bec3c6 !important;
    color: #30373F !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #30373F !important;
    line-height: 18px !important;
    padding: 0 !important;
}

.select2.select2-container,
.select2 span {
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 5px !important;
    left: 0 !important;
    margin: 0 !important;
    top: 15px !important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 5px !important;
    top: 10px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 12px !important;
    top: 0 !important;
    width: 10px !important;
}

.select2-search--dropdown {
    padding: 12px 12px 7px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--multiple {
    border-width: 2px !important;
    border-color: #ebeced !important;
    background: #ebeced !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    padding: 6px 12px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0 !important;
    margin-top: -5px !important;
}

.select2-container .select2-search--inline .select2-search__field {
    padding: 0 !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block !important;
}

.form-input-flat .select2-container .select2-selection--single,
.form-input-flat .select2-container--default .select2-search--dropdown .select2-search__field,
.form-input-flat .select2-container--default .select2-selection--multiple {
    background: #ebeced !important;
    border-color: #ebeced !important;
}

.select2-container--default .select2-results__group {
    padding: 6px 12px;
}

.select2-results__option {
    padding: 6px 12px;
}

.select2-container--open .select2-dropdown--below {
    border-top: none !important;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none !important;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding: 8px 12px 8px 18px !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background: #ebeced !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #2184DA !important;
}

.select2-dropdown {
    border: 2px solid #bec3c6 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none !important;
    border-color: #8d9aa5 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 2px solid #8d9aa5 !important;
}

.select2.select2-container:focus,
.select2 span:focus,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    outline: none !important;
    border-color: #8d9aa5 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #888f95 !important;
    color: #fff !important;
    border: none !important;
    font-size: 12px !important;
    line-height: 18px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background: #6d7277 !important;
    float: right !important;
    margin-right: -5px !important;
    font-size: 14px !important;
    margin-left: 5px !important;
    line-height: 17px !important;
    height: 18px !important;
    padding: 0 5px !important;
    -webkit-border-radius: 0 4px 4px 0 !important;
    -moz-border-radius: 0 4px 4px 0 !important;
    border-radius: 0 4px 4px 0 !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover,
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background: #525659 !important;
    color: #fff !important;
}

.irs-diapason {
    background: #3C454D;
}

.irs-line-left,
.irs-line-mid,
.irs-line-right {
    background: #EBECED !important;
}

.irs-line-left {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.irs-line-right {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.irs-from, .irs-to, .irs-single {
    background: #3C454D !important;
}

.irs-grid-text {
    color: #8d9aa5 !important;
}

.rangeSlider-success .irs-diapason {
    background: $yellow;
}

.rangeSlider-primary .irs-diapason {
    background: #2184DA;
}

.rangeSlider-purple .irs-diapason {
    background: #9b59b6;
}

.rangeSlider-lime .irs-diapason {
    background: #65C56F;
}

.rangeSlider-info .irs-diapason {
    background: #38AFD3;
}

.rangeSlider-warning .irs-diapason {
    background: #fcaf41;
}

.rangeSlider-danger .irs-diapason {
    background: #F04B46;
}

.ui-widget-content.ui-autocomplete {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.25);
    box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}

.ui-widget {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    padding: 5px 0;
}

.ui-menu .ui-menu-item a {
    font-weight: 300;
    padding: 6px 12px;
    line-height: 18px;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: none;
    margin: 0 !important;
    font-weight: 300 !important;
    background: #ebeced;
    color: #30373F;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.strength_meter .veryweak {
    color: #c03c38;
}

.strength_meter .weak {
    color: #ca8c34;
}

.strength_meter .medium {
    color: #519e59;
}

.strength_meter .strong {
    color: #129283;
}

.strength_meter {
    background: none !important;
    width: auto !important;
    height: auto !important;
    float: right;
}

.strength_meter div {
    font-weight: 300 !important;
    color: #aab3ba;
    width: auto !important;
    background: none !important;
    line-height: 18px !important;
    height: auto !important;
}

.button_strength {
    float: left;
    color: #30373e;
}



.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*="span"] {
    margin-bottom: 0 !important;
}

ul.tagit {
    margin-bottom: 0;
    border: 2px solid #bec3c6;
    padding: 5px 12px 0 !important;
    font-size: 0px;
}

ul.tagit:before,
ul.tagit:after {
    content: '';
    display: table;
    clear: both;
}

.form-input-flat ul.tagit {
    background: #ebeced;
    border-color: #ebeced;
}

ul.tagit input[type="text"] {
    background: none;
}

ul.tagit li.tagit-choice-editable,
ul.tagit li.tagit-new {
    background: #888f95;
    color: #fff;
    border: none;
    font-size: 12px;
    line-height: 18px !important;
    margin: 0px 5px 5px 0;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

ul.tagit li.tagit-new {
    background: none;
}

ul.tagit .ui-state-default .ui-icon.ui-icon-close {
    background: none;
    text-indent: 3px !important;
}

ul.tagit li.tagit-choice .tagit-close:hover,
ul.tagit li.tagit-choice .tagit-close:focus,
ul.tagit .ui-state-default .ui-icon.ui-icon-close:hover,
ul.tagit .ui-state-default .ui-icon.ui-icon-close:focus {
    color: #fff;
    text-decoration: none;
}

ul.tagit .ui-state-default .ui-icon.ui-icon-close:before {
    content: '\x';
}

.slider-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    min-height: 30px;
    padding-top: 13px;
}

.slider-wrapper.slider-without-range {
    padding-left: 0;
    padding-right: 0;
}

.slider-wrapper.slider-vertical {
    min-width: 30px;
    padding-left: 13px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slider-wrapper.slider-vertical.slider-without-range {
    padding-top: 0;
    padding-bottom: 0;
}

.slider-wrapper.slider-vertical .range-min {
    bottom: -20px;
    padding-bottom: 2px;
}

.slider-wrapper.slider-vertical .range-max {
    top: -20px;
    padding-top: 2px;
}

.slider-wrapper .range {
    background: #aab3ba;
}

.slider-wrapper .range-quantity {
    background: #17B6A4;
}

.slider-wrapper.slider-primary .range-quantity {
    background: #2184DA;
}

.slider-wrapper.slider-purple .range-quantity {
    background: #9b59b6;
}

.slider-wrapper.slider-lime .range-quantity {
    background: #65C56F;
}

.slider-wrapper.slider-inverse .range-quantity {
    background: #3C454D;
}

.slider-wrapper.slider-warning .range-quantity {
    background: #fcaf41;
}

.slider-wrapper.slider-danger .range-quantity {
    background: #ff5b57;
}

.slider-wrapper.slider-info .range-quantity {
    background: #38AFD3;
}

.slider-wrapper.slider-grey .range-quantity {
    background: #aab3ba;
}

.bwizard {
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    margin-bottom: 20px;
}

.bwizard-steps {
    display: table !important;
    width: 100%;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    border-bottom: 3px solid #bec3c6;
}

.bwizard-steps:before,
.bwizard-steps:after {
    display: none;
}

.bwizard-steps > li,
.bwizard-steps > li:first-child,
.bwizard-steps > li:last-child {
    float: none;
    display: table-cell !important;
    text-align: center;
    padding: 10px 20px;
    background: #eff0f1;
}

.bwizard-steps > li {
    width: 20%;
}

.bwizard-steps.clickable > li:hover,
.bwizard-steps.clickable > li:focus,
.bwizard-steps.clickable li:hover:not(.active),
.bwizard-steps.clickable li:focus:not(.active) {
    background: #eff0f1 !important;
}

.bwizard-steps.clickable > li:hover a,
.bwizard-steps.clickable > li:focus a,
.bwizard-steps.clickable li:hover:not(.active) a,
.bwizard-steps.clickable li:focus:not(.active) a {
    color: #30373e !important;
}

.bwizard-steps > li .label {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 32px;
    border: 2px solid;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: 16px;
    margin: 5px auto;
    color: #30373e;
    font-weight: normal;
    top: 0;
}

.bwizard-steps a {
    display: block;
    font-size: 16px;
    line-height: 20px;
}

.bwizard-steps a:hover,
.bwizard-steps a:focus {
    text-decoration: none;
}

.bwizard-steps a small {
    font-size: 12px;
    display: block;
    line-height: 16px;
    margin: 1px 0 5px 0;
    color: #8a8f94;
}

.bwizard-steps li:before,
.bwizard-steps li:after {
    border: none !important;
}

.bwizard-steps > li.active,
.bwizard-steps > li.active:hover,
.bwizard-steps > li.active:focus {
    background: #3C454D !important;
}

.bwizard-steps.clickable > li.active:hover a,
.bwizard-steps.clickable > li.active:focus a,
.bwizard-steps.clickable li.active:hover:not(.active) a,
.bwizard-steps.clickable li.active:focus:not(.active) a {
    color: #fff !important;
}

.bwizard-steps.clickable li:hover:not(.active) .label,
.bwizard-steps.clickable li:focus:not(.active) .label {
    color: $yellow;
}

.bwizard-steps .active .label {
    border-color: $yellow;
    background: $yellow;
    color: #fff;
}

.bwizard-steps li.active:after {
    top: 50%;
    margin-top: -20px;
    border-bottom: 20px inset transparent !important;
    border-left: 20px solid #3C454D !important;
    border-top: 20px inset transparent !important;
}

.bwizard-steps li.active:last-child:after {
    border: none !important;
}

.bwizard .well {
    background: #fff;
    margin: 0 !important;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    padding: 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bwizard-steps li:first-child {
    -webkit-border-radius: 6px 0 0 0 !important;
    -moz-border-radius: 6px 0 0 0 !important;
    border-radius: 6px 0 0 0 !important;
}

.bwizard-steps li:last-child {
    -webkit-border-radius: 0 6px 0 0 !important;
    -moz-border-radius: 0 6px 0 0 !important;
    border-radius: 0 6px 0 0 !important;
}

.bwizard-buttons {
    padding: 30px;
    margin: 0;
    background: #eff0f1;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    border-top: 3px solid #BEC3C6;
}

.morris-hover.morris-default-style {
    font-family: 'Nunito', sans-serif !important;
    background: url(../img/transparent/black-0.9.png) !important;
    background: rgba(255,255,255,0.95) !important;
    box-shadow: 0 3px 8px rgba(0,0,0,0.25) !important;
    border: none !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.jqstooltip {
    border: none !important;
    border-radius: 4px !important;
    display: block !important;
    width: auto !important;
    height: auto !important;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    width: 16px !important;
    height: 16px !important;
    background: url(../img/transparent/black-0.8.png) !important;
    background: rgba(0,0,0,0.75) !important;
    left: 15px;
}

.jvectormap-zoomout {
    top: 35px;
}

.jvectormap-zoomin {
    top: 15px;
}

.jvectormap-label {
    border: none !important;
    background: url(../img/transparent/black-0.8.png) !important;
    background: rgba(0,0,0,.75) !important;
    padding: 3px 6px !important;
}

.error {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 50%;
    width: 600px;
    margin-left: -300px;
}

.error-code {
    font-size: 128px;
    line-height: 1.1;
}

.error-message {
    font-size: 24px;
}

.error-search {
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.error-search .form-control {
    border-radius: 46px;
    padding-right: 46px;
}

.error-search .btn-search {
    border: none;
    background: none;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 46px;
    width: 46px;
    padding: 0;
    font-size: 16px;
    color: #30373e;
}

.error-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 20px;
    line-height: 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.06);
}

.error-footer-brand {
    line-height: 30px;
    font-weight: bold;
    font-size: 16px;
}

.error-footer-brand img {
    margin-right: 10px;
    float: left;
}

.coming-soon {
    text-align: center;
    padding: 50px 0;
    position: relative;
    z-index: 1020;
}

.coming-soon-header .brand {
    font-size: 24px;
    font-weight: bold;
    line-height: 45px;
}

.coming-soon-header .desc {
    font-size: 16px;
}

.countdown {
    padding: 45px 0;
    max-width: 600px;
    margin: 0 auto;
}

.countdown:before,
.countdown:after {
    content: '';
    display: table;
    clear: both;
}

.countdown .countdown-col {
    float: left;
}

.countdown.col-5 .countdown-col {
    width: 20%;
}

.countdown.col-4 .countdown-col {
    width: 25%;
}

.countdown.col-3 .countdown-col {
    width: 33.33%;
}

.countdown.col-2 .countdown-col {
    width: 50%;
}

.countdown-number {
    position: relative;
    margin: 0 auto 15px;
    width: 60px;
    height: 90px;
    border-radius: 10px;
    background: #30373e;
    cursor: pointer;
    line-height: 1;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.countdown-number .number {
    line-height: 92px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    z-index: 1020;
    color: #fff;
    font-size: 28px;
}

.countdown-number:before, .countdown-number:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
    left: 0;
}

.countdown-number:before {
    transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.countdown-number:after {
    transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.coming-soon-content {
    width: 600px;
    margin: 0 auto;
}

.coming-soon-content .desc {
    font-size: 16px;
    margin-bottom: 25px;
}

.coming-soon-content .coming-soon-form {
    width: 350px;
    margin: 0 auto 25px;
}

.coming-soon-form .input-group {
    border-radius: 40px;
    padding: 2px;
    background: #30373e;
}

.coming-soon-form .btn,
.coming-soon-form .form-control {
    border-radius: 40px;
}

.coming-soon-form .form-control {
    transition: all .2s linear;
}

.coming-soon-form .form-control:focus {
    border-color: #fff;
    background: #fff;
}


.gallery-list {
    list-style-type: none;
    margin: -5px -5px 15px;
    padding: 0;
}

.gallery-list:before,
.gallery-list:after {
    content: '';
    display: table;
    clear: both;
}

.gallery-list > li {
    float: left;
    width: 20%;
    padding: 5px;
}

.gallery-list > li .image-container {
    border-radius: 5px;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
}

.gallery-list > li .image {
    padding-top: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.gallery-list > li .image img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.gallery-list > li .btn-list {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    z-index: 1020;
}

.gallery-list > li .info {
    padding: 8px 10px;
}

.gallery-list > li .info * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gallery-list > li .info h5 {
    margin: 0;
    font-size: 12px;
}


.tag-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tag-list:before,
.tag-list:after {
    content: '';
    display: table;
    clear: both;
}

.tag-list > li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.tag-list > li a,
.tag-list > li span {
    border: 2px solid #ebeced;
    border-radius: 40px;
    color: #30373e;
    font-size: 11px;
    padding: 2px 8px;
    display: block;
}

.tag-list > li.active a,
.tag-list > li.active span {
    color: #30373e;
    border-color: #30373e;
}
    
.search-container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    position: relative;
    margin-bottom: 20px;
}

.search-container.search-container-inverse {
    background: #3C454D;
}

.search-container.search-container-inverse .form-control {
    color: #fff;
}

.search-container .search-icon {
    float: left;
    width: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

.search-container .search-input {
    margin-left: 60px;
    margin-right: 360px;
}

.search-container .search-input .form-control {
    border: none;
    height: 50px;
    line-height: 50px;
    padding-left: 0;
    padding-right: 0;
    background: none;
}

.search-container .search-item {
    position: absolute;
    top: 0;
    right: 0;
    width: 360px;
    padding: 0 20px;
}

.search-container .search-item .search-item-link {
    color: #8d9aa5;
    font-size: 14px;
    line-height: 50px;
    display: block;
    font-weight: normal;
}

.search-container .search-item .search-item-link:hover,
.search-container .search-item .search-item-link:focus {
    color: #30373e;
    text-decoration: none;
}

.search-container.search-container-inverse .search-item .search-item-link:hover,
.search-container.search-container-inverse .search-item .search-item-link:focus {
    color: #fff;
}

.search-container .search-item .search-item-link i {
    color: #bec3c6;
    font-size: 12px;
    margin-left: 5px;
}

.search-container .search-item .dropdown-menu {
    margin-top: -10px;
}


.search-result-total {
    float: right;
    padding: 0 20px;
    line-height: 48px;
}

.search-result-container {
    border: none;
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 0 rgba(0,0,0,0.07);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
}

.search-result-header {
    border-radius: 5px 5px 0 0;
}

.search-result-header .nav.nav-tabs {
    border-bottom: none;
}

.search-result-header .nav.nav-tabs > li:after {
    bottom: -1px;
}

.search-result-header .nav.nav-tabs.nav-tabs-white > li > a {
    color: rgba(255,255,255,0.5);
}

.search-result-header .nav.nav-tabs.nav-tabs-white > li.active > a,
.search-result-header .nav.nav-tabs.nav-tabs-white > li > a:hover,
.search-result-header .nav.nav-tabs.nav-tabs-white > li > a:focus {
    color: #fff;
}





.panel-option {
    padding: 15px;
    background: #edeff0;
    font-size: 12px;
    font-weight: bold;
}

.panel-option .btn {
    margin-top: -6px;
}

.panel-body .panel-option {
    margin: -20px -20px 20px;
}




.chartjs-tooltip {
    display: none;
    position: absolute;
    background: url(../img/transparent/black-0.7.png);
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 8px;
    border-radius: 3px;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    white-space: nowrap;
}

.chartjs-tooltip.above:before,
.chartjs-tooltip.below:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -14px;
    border: 7px solid transparent;
    border-top-color: rgba(0,0,0,0.7);
    left: 50%;
    margin-left: -7px;
}

.chartjs-tooltip.above:before {
    bottom: auto;
    top: -14px;
    border-top-color: transparent;
    border-bottom-color: rgba(0,0,0,0.7);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.chartjs-tooltip.above {
    margin-top: 15px;
}

.chartjs-tooltip.below {
    margin-top: -50px;
}



.feeds {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.feeds > li {
    position: relative;
    line-height: 30px;
    padding: 5px;
    background: #ebeced;
    border-radius: 4px;
    overflow: hidden;
}

.feeds > li + li {
    margin-top: 5px;
}

.feeds > li > a {
    display: block;
    text-decoration: none;
}

.feeds > li .icon {
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #000;
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
    font-size: 18px;
    margin: -5px 0 -5px -5px;
}

.feeds > li .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
    white-space: nowrap;
    color: #272C31;
}

.feeds > li .time {
    float: right;
    padding: 0 10px;
    font-style: italic;
    color: #aab3ba;
    font-size: 12px;
}


.chats {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.chats:before,
.chats:after,
.chats > li:before,
.chats > li:after {
    content: '';
    display: table;
    clear: both;
}
.chats > li + li {
    margin-top: 15px;
}
.chats > li .image {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
}
.chats > li.right .image {
    float: right;
}
.chats > li.right .message {
    margin-left: 0;
    margin-right: 70px;
}
.chats > li.right .message:before {
    border-left-color: #ebeced;
    border-right-color: transparent;
    left: auto;
    right: -20px;
}
.chats > li .image img {
    max-width: 100%;
    display: block;
}
.chats > li .message {
    margin-left: 70px;
    background: #ebeced;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    padding-bottom: 30px;
}
.chats > li .message:before {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    border: 10px solid transparent;
    border-right-color: #ebeced;
    top: 15px;
}
.chats > li .message .name {
    color: #08c;
    display: block;
}
.chats > li .message .date-time {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 11px;
    line-height: 10px;
    opacity: 0.7;
}


.project-summary {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.project-summary .project-title {
    margin-bottom: 8px;
}

.project-summary .progress {
    height: 6px;
    border-radius: 3px;
    background: url(../img/transparent/black-0.2.png);
    background: rgba(0,0,0,0.15);
    margin-bottom: 15px;
}

.project-summary .progress .progress-bar {
    background: url(../img/transparent/white-0.9.png);
    background: rgba(255,255,255,0.9);
    background: linear-gradient(90deg, #00c6ff 10%, #0072ff 90%); 
    background: #3e474f;
    background: linear-gradient(90deg, #4776E6 10%, #8E54E9 90%);
}

.project-summary .users .title {
    font-weight: normal;
    padding: 5px 0 10px;
}

.project-summary .users .image-list .add-btn {
    background: #272C31;
    border-radius: 30px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    height: 24px;
    margin-left: 10px;
    margin-top: 6px;
}

.project-summary .users .image-list .add-btn i {
    display: block;
    line-height: 24px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.project-summary .image-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
}

.project-summary .image-list:before,
.project-summary .image-list:after {
    content: '';
    display: table;
    clear: both;
}

.project-summary .image-list > li {
    float: left;
    margin-right: 5px;
}

.project-summary .image-list > li img {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 36px;
}
